{{- $src := .Get "src" -}}
{{- $image := .Page.Resources.GetMatch $src -}}
{{- if not $image -}}
  {{- $image = .Page.Resources.GetMatch (printf "**%s" $src) -}}
{{- end -}}

{{- $link := .Get "link" | default $src -}}
{{- $linkResource := .Page.Resources.GetMatch $link -}}
{{- if not $linkResource -}}
  {{- $linkResource = .Page.Resources.GetMatch (printf "**%s" $link) -}}
{{- end -}}

<figure {{ with .Get "class" }}class="{{ . }}"{{ end }}>
  {{ if $image }}
    <a href="{{ if $linkResource }}{{ $linkResource.RelPermalink }}{{ else }}{{ $link | safeURL }}{{ end }}" data-lity>
      <img src="{{ $image.RelPermalink }}" {{ with .Get "alt" }}alt="{{ . }}"{{ end }} {{ with .Get "width" }}width="{{ . }}"{{ end }} {{ with .Get "height" }}height="{{ . }}"{{ end }}>
    </a>
  {{ end }}
  {{ if or (.Get "title") (.Get "caption") }}
    <figcaption>{{ .Get "title" | default (.Get "caption") }}</figcaption>
  {{ end }}
</figure>
